<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265520802260-90j5th5lp7ckp0j460ilic3t62gghbm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265520802260-90j5th5lp7ckp0j460ilic3t62gghbm7</string>
	<key>API_KEY</key>
	<string>AIzaSyD17N6S6A8QxqCPV_C5bZJr3yLKkM69tws</string>
	<key>GCM_SENDER_ID</key>
	<string>265520802260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sapPortal</string>
	<key>PROJECT_ID</key>
	<string>sapmobflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sapmobflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265520802260:ios:2e562a45a498ceacbc4e41</string>
</dict>
</plist>